In [1]:
import pandas as pd

## Задача 1

#### Считать данные с помощью pandas

In [2]:
df = pd.read_csv('./kc_house_data.csv')

#### Вывести на экран первые 5 строк

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df.shape

(21613, 21)

## Задача 2

#### Проведите первичный анализ данных

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

#### Изучите типы данных

In [6]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

#### Найдите количество пропущенных ячеек в данных

In [7]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

#### Посчитайте основные статистики по всем признакам и поизучайте их

In [8]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## Задача 3

### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [9]:
cost_change = f"{int(df['price'].min())} - {int(df['price'].max())}"

In [10]:
print(f'Стоимость недвижимости изменяется в диапазоне: {cost_change}')

Стоимость недвижимости изменяется в диапазоне: 75000 - 7700000

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [11]:
living_lot = round((df['sqft_living'].mean() / df['sqft_lot'].mean() * 100), 2)

In [12]:
print(f'Жилая прощадь занимает в среднем {living_lot}% всей площади домов')

Жилая прощадь занимает в среднем 13.77% всей площади домов

### 3.3 Как много домов с разными этажами в данных?

In [13]:
df['floors'] = df['floors'].astype('int')

In [14]:
df['floors'].nunique()

3

### 3.4 Насколько хорошие состояния у домов в данных?

In [15]:
condition_change = f"{df['condition'].min()} - {df['condition'].max()}"
condition_mean = round(df['condition'].mean(), 2)

In [16]:
print(f'Состояние домов в диапазоне: {condition_change}')
print(f'Среднее состояние домов: {condition_mean}')

Состояние домов в диапазоне: 1 - 5
Среднее состояние домов: 3.41

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

*Неверно понял значения столбцов изначально (подумал, что "date" - дата постройки), жалко было удалять работу со строками:*

In [17]:
# df['date'] = df['date'].str.replace('T000000', '')
# years = []
# for i in df['date']:
#     j = int(i[0:4])
#     years.append(j)
# df.insert(1, 'year', years)

*__Ниже верное решение:__*

In [18]:
min_year = df['yr_built'].min()
print(f'Первый дом был построен в {min_year} году')
print(f'Дома, простроенные в {min_year} году:')
df[df['yr_built'] == df['yr_built'].min()]

Первый дом был построен в 1900 году
Дома, простроенные в 1900 году:

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1,0,0,...,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
115,3626039325,20141121T000000,740500.0,3,3.50,4380,6350,2,0,0,...,8,2780,1600,1900,1999,98117,47.6981,-122.368,1830,6350
498,9274202270,20140818T000000,625000.0,2,1.50,1490,5750,1,0,0,...,7,1190,300,1900,0,98116,47.5872,-122.390,1590,4025
537,5694500105,20141204T000000,595000.0,2,2.00,1510,4000,1,0,0,...,7,1010,500,1900,0,98103,47.6582,-122.345,1920,4000
703,7011200260,20141219T000000,485000.0,4,2.00,1400,3600,1,0,0,...,7,1100,300,1900,0,98119,47.6385,-122.370,1630,2048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19063,1702901340,20140613T000000,718500.0,3,2.00,2910,6600,2,0,0,...,7,1920,990,1900,1988,98118,47.5576,-122.281,1370,5500
19137,3388110230,20140729T000000,179000.0,4,1.75,1790,7175,1,0,0,...,6,1410,380,1900,0,98168,47.4963,-122.318,1790,8417
19319,4083302225,20141014T000000,850000.0,4,3.00,2550,3784,1,0,0,...,8,1750,800,1900,0,98103,47.6559,-122.338,2100,4560
19385,2420069042,20150424T000000,240000.0,3,2.00,1553,6550,1,0,0,...,7,1553,0,1900,2001,98022,47.2056,-121.994,1010,10546
19598,7518507685,20150223T000000,400000.0,3,1.00,1100,5100,2,0,0,...,7,1100,0,1900,0,98117,47.6790,-122.386,1540,5100

In [19]:
max_year = df['yr_built'].max()
print(f'Последний дом был построен в {max_year} году')
print(f'Дома, простроенные в {max_year} году:')
df[df['yr_built'] == df['yr_built'].max()]

Последний дом был построен в 2015 году
Дома, простроенные в 2015 году:

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
643,9385200045,20150512T000000,729500.0,3,2.50,1660,1091,3,0,1,...,9,1530,130,2015,0,98116,47.5818,-122.402,1510,1352
1763,1832100030,20140625T000000,597326.0,4,4.00,3570,8250,2,0,0,...,10,2860,710,2015,0,98040,47.5784,-122.226,2230,10000
2687,3076500830,20141029T000000,385195.0,1,1.00,710,6000,1,0,0,...,6,710,0,2015,0,98144,47.5756,-122.316,1440,4800
4154,8077100031,20150422T000000,631000.0,3,2.25,1670,1396,2,0,0,...,9,1250,420,2015,0,98115,47.6814,-122.288,1610,5191
7526,9520900210,20141231T000000,614285.0,5,2.75,2730,6401,2,0,0,...,8,2730,0,2015,0,98072,47.7685,-122.160,2520,6126
8039,1250200495,20140624T000000,455000.0,2,1.50,1200,1259,2,0,0,...,8,1000,200,2015,0,98144,47.6001,-122.298,1320,1852
8425,558100090,20150312T000000,628000.0,5,2.75,2600,8160,2,0,0,...,8,2600,0,2015,0,98133,47.7348,-122.340,1600,8160
14215,8156600210,20150326T000000,1285000.0,5,3.50,2980,5100,2,0,0,...,10,2370,610,2015,0,98115,47.6782,-122.299,1780,5100
14489,2770601530,20140826T000000,500000.0,2,2.25,1570,1269,2,0,0,...,9,1280,290,2015,0,98199,47.6514,-122.385,1570,6000
14925,2770602360,20150421T000000,671000.0,4,2.75,1890,1475,2,0,0,...,9,1200,690,2015,0,98199,47.6472,-122.383,1650,1682
17098,9126100346,20140617T000000,350000.0,3,2.00,1380,3600,3,0,0,...,8,1380,0,2015,0,98122,47.6074,-122.305,1480,3600
19722,9161100075,20150318T000000,673000.0,4,2.25,2580,2875,2,0,0,...,9,2580,0,2015,0,98116,47.5674,-122.392,1290,5750
19805,9126100765,20140801T000000,455000.0,3,1.75,1320,1014,3,0,0,...,9,1320,0,2015,0,98122,47.6047,-122.305,1380,1495
19863,2768100510,20150402T000000,649000.0,3,2.00,1530,1442,3,0,0,...,9,1530,0,2015,0,98107,47.6692,-122.372,1620,1456
19907,7853440140,20150409T000000,802945.0,5,3.50,4000,9234,2,0,0,...,9,4000,0,2015,0,98024,47.5265,-121.887,3690,6600
19945,8011100047,20150306T000000,530000.0,4,2.75,2740,7872,2,0,0,...,10,2740,0,2015,0,98056,47.4954,-122.172,1220,6300
19959,7853430690,20150127T000000,572800.0,3,2.50,3310,4682,2,0,0,...,9,2380,930,2015,0,98065,47.5201,-121.885,2660,5166
20086,2768100512,20150422T000000,659000.0,2,2.50,1450,1213,2,0,0,...,9,1110,340,2015,0,98107,47.6692,-122.372,1620,1456
20251,7853440050,20150505T000000,771005.0,5,4.50,4000,6713,2,0,0,...,9,4000,0,2015,0,98024,47.5254,-121.886,3690,6600
20311,7132300525,20150411T000000,500000.0,3,1.75,1530,825,3,0,0,...,8,1530,0,2015,0,98144,47.5929,-122.308,1580,1915
20369,4385700250,20150407T000000,1800000.0,4,3.50,3480,4000,2,0,0,...,9,2460,1020,2015,0,98112,47.6356,-122.281,2620,4000
20487,9103000455,20150424T000000,920000.0,4,3.25,2190,4265,2,0,0,...,9,1540,650,2015,0,98122,47.6178,-122.290,1730,4265
20488,8691440220,20150202T000000,1289990.0,5,4.00,4360,8030,2,0,0,...,10,4360,0,2015,0,98075,47.5923,-121.973,3570,6185
20698,255470030,20150429T000000,619990.0,4,2.75,2630,4501,2,0,0,...,8,2630,0,2015,0,98028,47.7748,-122.244,2380,4599
20770,9310300160,20140828T000000,357000.0,5,2.50,2990,9240,2,0,0,...,8,2990,0,2015,0,98133,47.7384,-122.348,1970,18110
20798,952005863,20150505T000000,643950.0,3,2.25,1760,2122,3,0,0,...,9,1760,0,2015,0,98116,47.5633,-122.385,1420,1618
20852,1257201420,20140709T000000,595000.0,4,3.25,3730,4560,2,0,0,...,9,2760,970,2015,0,98103,47.6725,-122.330,1800,4560
20881,3052700385,20150414T000000,765000.0,4,2.25,2030,2222,2,0,0,...,9,1610,420,2015,0,98117,47.6790,-122.375,1420,2222
20933,2652501565,20150423T000000,1550000.0,3,3.25,3530,4920,2,0,0,...,9,2660,870,2015,0,98109,47.6410,-122.357,1900,4200
20963,6058600220,20140731T000000,230000.0,3,1.50,1040,1264,2,0,0,...,9,900,140,2015,0,98144,47.5951,-122.301,1350,3000
21262,5694500840,20141125T000000,559000.0,2,3.00,1650,960,3,0,0,...,8,1350,300,2015,0,98103,47.6611,-122.346,1650,3000
21270,1773100541,20150417T000000,389950.0,3,2.25,1580,920,3,0,0,...,8,1580,0,2015,0,98106,47.5578,-122.363,1250,1150
21316,6600000050,20150310T000000,1698000.0,4,3.50,3950,6240,2,0,0,...,11,3950,0,2015,0,98112,47.6221,-122.290,2040,6240
21333,2424059174,20150508T000000,1999950.0,4,3.25,5640,35006,2,0,2,...,11,4900,740,2015,0,98006,47.5491,-122.104,4920,35033
21369,923059259,20150401T000000,455950.0,4,2.50,2720,5771,2,0,0,...,8,2720,0,2015,0,98056,47.4917,-122.170,1940,4184
21372,6169901185,20140520T000000,490000.0,5,3.50,4460,2975,3,0,2,...,10,3280,1180,2015,0,98119,47.6313,-122.370,2490,4231
21432,7104100110,20150511T000000,899000.0,4,3.50,2490,5500,2,0,0,...,9,1780,710,2015,0,98136,47.5499,-122.393,1710,5500
21501,4233600150,20150203T000000,1150000.0,5,4.25,4010,8252,2,0,0,...,10,4010,0,2015,0,98075,47.5974,-122.013,3370,8252

## Задача 4

### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [20]:
df_twobed = df[df['bedrooms'] == 2]

In [21]:
print(f"Среднняя стоимость домов с 2 спальнями: {round(df_twobed['price'].mean(), 2)}")

Среднняя стоимость домов с 2 спальнями: 401372.68

*Можно еще так, но ноутбук выводит тип переменной вместе с ответом:*

In [22]:
# print(f"Среднняя стоимость домов с 2 спальнями: {round(df[df['bedrooms'] == 2][['price']].mean(), 2)}")

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [23]:
df_house_price_600 = df[df['price'] > 600000]

In [24]:
print(f"Средняя площадь домов, , у которых стоимость больше 600 000: {round(df_house_price_600['sqft_lot'].mean(), 2)}")

Средняя площадь домов, , у которых стоимость больше 600 000: 20442.52

### 4.3 Как много домов коснулся ремонт?

In [25]:
renovation = []
for i in df['yr_renovated']:
    if i != 0:
        renovation.append(1)
    else:
        renovation.append(0)
df.insert(15, 'renovation_status', renovation)

In [26]:
houses_renovated = sum(i for i in df['renovation_status'])

In [27]:
print(f'Домов отремонтировано: {houses_renovated}')

Домов отремонтировано: 914

### 4.4 Насколько в среднем стоимость домов с оценкой grade  выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [28]:
df_grade_10 = df[df['grade'] > 10]
df_grade_4 = df[df['grade'] < 4]

In [29]:
spread = df_grade_10['price'].mean() - df_grade_4['price'].mean()

In [30]:
print(f'Стоимость домов с оценкой grade выше 10 отличается от стоимости домов с оценкой grade меньше 4 в среднем на {spread}')

Стоимость домов с оценкой grade выше 10 отличается от стоимости домов с оценкой grade меньше 4 в среднем на 1488885.1175298805

## Задача 5

### 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [31]:
variants = int(df[(df['waterfront'] == 1) & (df['bathrooms'] >= 3) & (df['sqft_basement'] > 0)][['id']].count())

In [32]:
print(f'Количество вариантов для клиента: {variants}')

Количество вариантов для клиента: 41

### 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [33]:
df_variants = df[
    ((df['view'] == df['view'].max()) | (df['waterfront'] == 1))
    & (df['grade'] == df['grade'].max())
    & (df['yr_built'] >= 1980)
]

In [34]:
min_price = int(df_variants['price'].min())
max_price = int(df_variants['price'].max())
price_spread = f'{min_price} - {max_price}'

In [35]:
print(f'Диапазон цен: {price_spread}')

Диапазон цен: 3800000 - 6885000

### 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [36]:
df_variants = df[
    (df['sqft_basement'] == 0)
    & (df['floors'] == 2)
    & (df['price'] < 150000)
]

In [37]:
cond = round(df_variants['condition'].mean(), 2)

In [38]:
print(f'Среднняя оценка домов по состоянию: {cond}')

Среднняя оценка домов по состоянию: 2.83